@import 'node_modules/ol/ol.css';

html,
body {
	margin: 0;
	height: 100%;
	background: url('./src/assets/bg.jpg') no-repeat;
}
#map,
#app {
	width: 100%;
	height: 100%;
	position: relative;
}
#app {
	background-color: #021F36;
}
.backToCenter {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 9;
	width: fit-content;
	cursor: pointer;
	font-size: 0;
	background-color: yellow;
}
ul {
	display: none;
}
.image-icon{
	width: 40px;
	height: 40px;
}
#current-level-name{
	font-size: 19px;
	margin-left: 10px;
	color: #fff;
	font-weight: bold;
}
.openlayers-title{
	position: absolute;
	left: 20px;
	top: 20px;
	display: flex;
	align-items: center;
	z-index: 99;
	cursor: pointer;
}
.back-to-center{
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	cursor: pointer;
}
